
<!DOCTYPE html>
<html lang="en">

<head>


    
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Farzaneh Tabandeh</title>
    
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .bg-1 {
/*             background-color: #1abc9c; */
             background-color: #999696
            color: #ffffff;
        }

       .bg-2 {
           background-color: #79969c;
           color: #ffffff;
       }

       .bg-3 {
           background-color: #ffffff;
           color: #555555;
       }

       .container-fluid {
           padding-top: 70px;
           padding-bottom: 70px;
       }
           </style>

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="Farzaneh">Farzaneh Tabandeh</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/index.html">Home</a>
                </li>
                <li>
                    <a href="mailto:farzaneh.tabandeh@gmail.com">Contact</a>
                </li>
                <li>
                    <a href="/blog/">Blog</a>
                </li>
                <li>
                    <a href="/profile/">Profile</a>
                </li>
            </ul>
        </div>
    </nav>
<div class="container-fluid bg-1 text-center" id="first_div">
     {{content}}
   
 
</div>



    
</body>

</html>
